body { 
	background: #133 url("../img/background.png") repeat;
}

.content {
    float: left;
    margin-left: 50px;
    min-height: 100px;
}

img { 
	display: block;
	width: 100%;
	height: 100%;
}

.content .list { 
	background-color: #555;
	margin-top:0;
	padding: 5px;
	width:375px;
}


.content .list li { 
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative;
	margin: 10px; 
}

li.selectableItem:hover, .list li.selected {
	border:1px solid #f00;
	margin:9px;
}

#tiles li dd, #states dl dd{
	padding: 5px;
	width: 40px;
	height: 40px;
}

#tiles {
    height: 200px;
    overflow: auto;
}
#states {  }
#states li { width: 116px; }

.content h2.title {
    background-color: #282828;
    border-bottom: 1px solid #000;
    color: #aaa;
    margin: 0;
    text-align: center;
}
#tile-damage { width:20px; }
dl.blank { background:inherit !important; }
td.door { border-color:#fff; }
table { 
    border-spacing: 0px;
    /*border-collapse: separate;*/
    border-width: 0px;
    border-style: none;
    margin-top:50px;
}

table tr td {
    background: none repeat scroll 0 0 black;
    border: 1px solid #000;
    height: 40px;
    padding: 0;
    width: 40px;
}
table tr td.selected { border:1px solid #f00; }

.file { float:left; margin:50px; }
	
#save, #load { float:right; clear:left; }
#output  { float:left; width: 828px; height: 195px;}

.content .list li.probability {
    border-bottom: 1px solid #000;
    margin-right: 20px;
    text-align: right;
    width: 90%;
}
.content .list li.probability input { width:40px; }