@font-face {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P.ttf");
}

body { 
	background: #133 url("../img/background.png") repeat;
}

.header, .instructions{
	font-family: "PressStart2P";
	width: 485px;
	left: 50%;
	top: 20px;

	margin-left: -175px;
	position: relative;
	color: white;
}

canvas#game {
	
	/*width: 800px;*/
	/*height: 600px;*/

	/*width: 1024px;
	height: 768px;*/
	

	width: 1200px;
	height: 900px;
	background: black;
	position: relative;
	left: 50%;
	margin-left: -512px;
	top: 35px;
}
